<!DOCTYPE html>

<html>

<head>

        <meta charset="utf-8">
        <title>Resume- App received</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
      
        <!-- Favicons -->
        <link href="img/favicon.png" rel="icon">
        <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
      
        <!-- Bootstrap CSS File -->
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
       
        <!-- Main Stylesheet File -->
        <link href="css/style.css" rel="stylesheet">
      
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


    <!-- ANGULAR UI GRID -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand smoothscroll" href="/"><b>Resume Application</b></a>
    </div>

    <!--/.nav-collapse -->
  </div>
</div>

<div id="headerwrap">
       <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h1>Resume Submission Engine <small>By AdeYinka</small></h1>
              <br><h3>Application Complete!</h3>
            </div>
            <!-- /col-lg-6 -->
            <div class="col-lg-6">
              <img class="img-responsive" src="img/resume-pic.png" alt="">
            </div>
            <!-- /col-lg-6 -->
        </div>
          <!-- /row -->
    </div>
        <!-- /container -->
</div> <!-- /headerwrap -->


<div class="container">
        <div class="headerwrap">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="align-center">
                        <br><br><br>
                        <h2>Great Job!</h2>
                        <p>
                            Your application was successfully submitted. This is the first step of having a great career with us.
                            <br> Your application will be reviewed, expect our response soon. We advise you always check your Email.
                            <br> Cheers!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <br><br>

    <div id="copyrights">
        <div class="container">
            <p>
            &copy; Copyrights <strong>Flatty</strong>. All Rights Reserved
            </p>
            <div class="credits">
            <!--
                You are NOT allowed to delete the credit link to TemplateMag with free version.
                You can delete the credit link only if you bought the pro version.
                Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/flatty-bootstrap-app-landing-page-template/
                Licensing information: https://templatemag.com/license/
            -->
            Created with Flatty template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
        <!-- / copyrights -->

</body>
</html>